.imgs{
    width: 20%;
    height: 20%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}
.imgs:hover{
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0,0,0,1);
}